# SPDX-FileCopyrightText: 2020 SAP SE
#
# SPDX-License-Identifier: Apache-2.0

---
name: CI

on:
  push:
    branches-ignore:
      # Dependabot pushes are already run for the PR itself.
      - 'dependabot/**'
  pull_request: {}
  workflow_dispatch: {}

jobs:

  generate-required:
    runs-on: ubuntu-latest
    steps:
      # Setup go and stringer
      - uses: actions/setup-go@v2
      - run: echo "::set-env name=PATH::$(go env GOPATH)/bin:$PATH"
      - run: go get -v golang.org/x/tools/cmd/stringer

      # Setup python and reuse
      - uses: actions/setup-python@v2.1.4
      - uses: BSFishy/pip-action@v1
        with:
          packages: reuse

      # Generate
      - uses: actions/checkout@v2
      - run: make generate
      - run: |
          if [ "$(git status --porcelain | wc -l)" -ne 0 ]; then
            printf '::error ::%s' '`make generate` left or changed files'
            git status
            git diff
            exit 1
          fi

  license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: fsfe/reuse-action@v1.1
